<div class="column is-one-quarter">
	<nav class="panel">
		<p class="panel-heading">Trending Groups</p>
		<a class="panel-block">
			Volleyball Group
		</a>
		<a class="panel-block">
			Anime Group
		</a>
		<a class="panel-block">
			AI/ML Group
		</a>
		<a class="panel-block">
			Tech Talk Group
		</a>
		<a class="panel-block">
			DND Group
		</a>
		<a class="panel-block">
			Party Group
		</a>
	</nav>
</div>