<div class="column">
	<nav class="panel">
		<p class="panel-heading"> Suggest something today!  </p>	
	</nav>
	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://bulma.io/images/placeholders/64x64.png">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong> Idea 1 </strong>
						<small> @abhi </small>
					</p>
				</div>
			</div>
		</article>
	</div>

	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://bulma.io/images/placeholders/64x64.png">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong> Idea 2 </strong>
						<small> @tubaali </small>
					</p>
				</div>
			</div>
		</article>
	</div>

	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://bulma.io/images/placeholders/64x64.png">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong> Idea 3 </strong>
						<small> @mythri </small>
					</p>
				</div>
			</div>
		</article>
	</div>

	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://bulma.io/images/placeholders/64x64.png">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong> Idea 4 </strong>
						<small> @rutuja </small>
					</p>
				</div>
			</div>
		</article>
	</div>

</div>